site:
	name: '@kawix.x'
	description: 'This is the webserver based on dhs for the https://kwx.kodhe.com/x/ service.'
	# purpose
	longdescription: 'This service allows people to create pretty URLs which redirect to github (or other content)'


	hostnames: [
		"kwx.kodhe.com"
	]

	globalprefixes: [
		"/x"
	]

	routes: [

		{
			path: "/api/:lib_discover_version/versions"
			method: "get"
			file: "./src/web.service"
		}


		{
			path: "/v/:version/:lib/*"
			method: "get"
			file: "./src/web.service"
		}


		{
			path: "/:lib/*"
			method: "get"
			file: "./src/web.service"
		}


	]
