database:

	# core library
	"core":
		"repo": "https://github.com/voxsoftware/kawix/tree/master/core"
		"url": "https://raw.githubusercontent.com/voxsoftware/kawix/${version}/core/${file}"

	# dhs library
	"dhs":
		"repo": "https://github.com/voxsoftware/kawix/tree/master/dhs"
		"url": "https://raw.githubusercontent.com/voxsoftware/kawix/${version}/dhs/${file}"
		# find the best suitable extension
		"extensions": [
			".js"
			".coffee"
			".json"
			".cson"
			".ts"
		]

	# standar library
	"std":
		"repo": "https://github.com/voxsoftware/kawix/tree/master/std"
		"url": "https://raw.githubusercontent.com/voxsoftware/kawix/${version}/std/${file}"
		"extensions": [
			".js"
			".coffee"
			".json"
			".cson"
			".ts"
		]

	# kivi template library
	"kivi":
		"repo": "https://github.com/voxsoftware/kawix/tree/master/kivi"
		"url": "https://raw.githubusercontent.com/voxsoftware/kawix/${version}/kivi/${file}"


	# gix library
	"gix":
		"repo": "https://github.com/voxsoftware/kawix/tree/master/gix"
		"url": "https://raw.githubusercontent.com/voxsoftware/kawix/${version}/gix/${file}"
		# find the best suitable extension
		"extensions": [
			".js"
			".coffee"
			".json"
			".cson"
			".ts"
		]
