name: 'kowix'
id: 'kowix'


cluster: [
    {
        # address to listen
        "address": "0.0.0.0:43106"
        "purpose": "default"
        "count": 1
    }
]

# folder for vhosts
include: [
    {
        "win32": "$USERPROFILE\\Projects\\*\\app.config.*"
        "default": "/home/$USER/projects/*/app.config.*"
    },
    "../../../hosts/*/app.config.*"
    "../../../sites*/*/app.config.*"
    "../../sites/*/app.config.*"
]
